# --- VS Code ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# --- C++ Binaries ---
*.exe
*.out
*.o
*.obj
*.app

# --- Debug/Build Folders ---
debug/
Release/
build/
bin/
ipch/

# --- Temporary/OS Files ---
*.log
.DS_Store
Thumbs.db
